.*
!.scalafix.conf
!.scalafmt.conf
!.gitignore

logs
classes
project/project
project/target
target
lib_managed
tmp
dist
*.iml
*.ipr
/out
/RUNNING_PID
*.iws
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
project/metals.sbt

